.App {
  background: linear-gradient(white, white);
  max-height: 100vh;
  display: grid;
  grid-template-columns: auto auto auto;
  color: rgb(0, 0, 0);
  font-family: "Libre Baskerville", serif;
  overflow: visible;
}
 .sidebar {
  font-size: 5mm;
  display: inline-block;
  flex-direction: column;
  justify-content: space-between;
}
.align-sidebar{
  margin-bottom: 340px;
}

.sidebar-links{
  display: flex;
  gap: 3mm;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.sidebar a{
  display: block;
  color: #ffffff;
  text-decoration: none;
}

.sidebar a.active{
  border-radius: 0px 30px 30px 0px;
  background: #395aac;
  color: #ffffff;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.635);
-moz-box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.635);
box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.641);
}

.sidebar a:hover{
  border-radius: 0px 30px 30px 0px;
  background: rgb(57, 90, 173);
  color: #ffffff; 
  -webkit-box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.635);
-moz-box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.635);
box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.635);
}

.image {
  width: 200px;
  height: 35px;
  object-fit: fill;
}

.ito{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.ito-align {
  margin: 2rem;
  
}
.ito-item {
  cursor: pointer;
  border-radius: 25px ;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.428);
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.302);
}

.right-side-bar{
  background: linear-gradient(#222222,#333333);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.68);
-moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.68);
box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.68);
}

.spin{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200%;
  height: 100vh;
  position: fixed;
  color: #395aac;
  z-index: 1;
}



 

